header {
  margin-top: 20px;
  margin-bottom: 40px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-size: 24px;
  font-weight: 500;
  transition: opacity 0.2s ease-in-out;
}

.nav-item:hover {
  opacity: 0.7;
}