h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  line-height: 0;
  border: none;
}

button {
  all: unset; /* Скидає всі стандартні стилі */
  display: inline-block; /* Відновлює можливість задавати розміри */
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

form {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset {
  border: none; /* Прибирає рамку */
  margin: 0;
  padding: 0;
  min-width: 0; /* Деякі браузери додають мінімальну ширину */
}

input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  outline: none; /* Видаляє обводку при фокусі, але можна налаштувати */
  box-sizing: border-box;
}


